# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
dist/
wheels/
*.egg-info/
.venv/
venv/
ENV/

# Database
*.db
*.sqlite3

# Node / Frontend
node_modules/
dist/
.vite/
*.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*

# OS & Editors
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
